*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,
html{font: 16px/1.4 Georgia,serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   
}
body{
    position: relative;
}

p{margin-bottom: 1em;
    font-weight: 600;
    
}

.page{max-width: 29rem;padding: 2rem;margin: 0 auto;text-align: center;user-select: none;
    height: 100vh;
}
#number{
    width: 5rem;
    text-align: center;
}
#canvas{
    left: 0;
    top: 0;
    position: absolute;
    float: left;
    border: 1px solid #000;
    display: none;
}
ul{list-style: none;
    display: flex;
    justify-content: center;
}
li{margin: 0 1rem;
}
a{color: #da1939fa;
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    &:hover{
        opacity: 0.7;
    }
}
h1{
    font:2rem/1;
    margin-bottom: 1em;
   
}
#imgList{
    margin-top: 1rem;
}
.fifteen{
    width: 100%;
    text-align: center;
    padding-bottom: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    background-color: white;
    .item{
        position: absolute;
        color: #000;
        left: 0;
        top: 0; 
        width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        box-shadow: inset 1px 1px black;
        transition: transform 0.4s;
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        &:hover{
           opacity: 0.6;
        } 

    }
}
.button{
    color: #fff;
    background: #000;
    border: none;
    font:1.2rem/1.4 Georgia,serif;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    &:hover{
        opacity: 0.7;
    }
}

#myPuzzle{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 25%;
    justify-content:space-evenly;
    padding:0.5rem;
    background-color: #cbd7da;
    opacity: 0.9;
    overflow: hidden;
    padding-bottom: 100%;
}
#myPuzzle div{
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px hsl(157, 90%, 4%);
    padding: 1rem;
    margin: 0.5rem;
   width: 200px;
   height: 200px;
  background-color: #cddee2;
 
  }

#myPuzzle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: transform 0.4s;
    border: 2px dashed #251f27;
    box-shadow: 2px 2px 2px hsl(157, 90%, 4%);
}
 h2{
    color: #fff;
   font-weight: bold;
   width: 100%;
   text-align: center;
}



.active{
    background-color: red;
    margin: 0.7rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 0.5rem #1b0901;
}
#imgList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#imgList img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    transition: transform 0.4s;
}

#spanName{
    font-weight: 600;
    padding:0.3rem  0.5rem;
    font-size: 1.6rem;
    color:rgb(58, 3, 3);
    box-shadow: 0 0 0.5rem #1b0901;
    font-family:Georgia, 'Times New Roman', Times, serif;
     border: 1px solid #000;
    border-radius: 0.5rem;
}
input{
    width:30%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}


.button_active{
    background-color:rgb(224, 26, 26);
    box-shadow: inset 0 0 0.8rem  #131212fa;
    font-weight: 700;
}
.time_active{
    background-color:black;
    /* box-shadow: inset 0 0 2rem  #fff; */
    box-shadow: inset 0 0 2rem  #e60303;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    padding:0.5rem 0.8rem;
    font-size: 2rem;
    margin: 0 auto 0.6rem;
}

  @media (min-width: 1349px){
    #canvas
    {
        display: block;
        
    }
#myPuzzle{
    display: flex;
}
}
@media (max-width:1347px){
    body{overflow: auto;}
    input{
        width: 100%;
      
        margin-bottom: 0.5rem;
    }
    #spanName{
        font-size: 1rem;
        text-wrap: nowrap;
        margin-left: -1.4rem;
    }
    h1,p{
        margin-bottom: 0.2rem;
    }
    .fifteen{
        
        .item{
            font-size: 1rem;
        }
    }
    .button{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem 1rem;
    }
    #canvas{
        display: none;
    }
   #myPuzzle{
    display: none;
}
.btnSelect{
    padding: 0.3rem 0.1rem;
}
}
