*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{font: 16px/1.4 Georgia,serif;
    background-image: linear-gradient(150deg, #f5f7fa 0%, #c3cfe2 100%);
    position: relative;
min-width: 200px;
}
    

p{margin-bottom: 1em;
    font-weight: 600;
    
}
#spanName{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.3rem;
    color:#1b0000;
    box-shadow: 0 0 0.5rem #1b0901;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.page{max-width: 29rem;padding: 2rem;margin: 0 auto;text-align: center;user-select: none;
    height: 100vh;
}
#canvas{
    left: 0;
    top: 0;
    position: absolute;
    float: left;
    display: none;
}
ul{list-style: none;
    display: flex;
    justify-content: center;
}
li{margin: 0 1rem;
}
a{color: #e9dbddfa;
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    &:hover{
        opacity: 0.7;
    }
}
#myPuzzle{
    margin-right: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: (1fr);
    justify-content: center;
    border-radius: 5px;
    position:absolute;
    top:0;
    right:0;
    width:12rem;
    box-shadow: 0 0 0.5rem #1b0901;
        /* box-shadow:inset 0 0 0.8rem  #da1939fa;
} */
   
}
    
img{
   object-fit: cover;
   object-position: center;
   width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
img:hover{
    opacity: 0.8;
    box-shadow: 2px 2px 2px #000;
}
h1{font:2rem/1 Georgia,serif;margin-bottom: 1em;
}
#imgList{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fifteen{
    width: 100%;
    text-align: center;
    padding-bottom: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    background-color: #fff;
    .item{
        position: absolute;
        color: #000;
        left: 0;
        top: 0; 
        width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        box-shadow: inset 1px 1px black;
        transition: transform 0.2s;
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        background-color: #fff;
        &:hover{
           opacity: 0.8;
           box-shadow: 0 0 8px #000;
        } 

    }
}
.button{
    color: #fff;
    background: #000;
    border: none;
    font:1.2rem/1.4 Georgia,serif;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    &:hover{
        opacity: 0.7;
        box-shadow: 2px 2px 2px #000;
    }
}
@media (min-width: 1160px){
    #canvas{
        display: block;
    }
}
/* @media (min-width:10px) and (max-width:1158px){ */
@media (max-width:1158px){
    body{overflow: auto;position: relative;
    font-size: o.5rem;}
    a{
        margin-top: 0;
    }
    .btnSelect{
    text-align: center;
    }
    .page{
        padding: 0 0.2rem;;
    }
    h1,p{
        margin-bottom: 0.2rem;
    }
    
    .fifteen{
        .item{
            font-size: 1rem;
        }
    }
    .button{
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0.1rem;
        padding: 0.3rem 1rem;
    }
    #canvas{
        display: none;
    }
    #myPuzzle{
        display: none;
        background-color: rgb(75, 75, 156);
    }
    #spanName{
        font-size: 1rem;
    padding: 0 0.5rem;
    display: block;
    }

}
.hover{
    opacity: 0.8;
    box-shadow: 2px 2px 2px #000;
}
.button_active{
    background-color:rgb(224, 26, 26);
    box-shadow: inset 0 0 0.8rem  #131212fa;
    font-weight: 700;
}
.time_active{
    background-color:black;
    /* box-shadow: inset 0 0 2rem  #fff; */
    box-shadow: inset 0 0 2rem  #e60303;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    padding:0.5rem 0.8rem;
    font-size: 2rem;
    margin: 0 auto 0.6rem;
}
.button_play_pause{
    background-color:black;
    box-shadow: inset 0 0 0.8rem  rgb(224, 26, 26);
    font-weight: 600;
    color: #fff;
}
