*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{font: 16px/1.4 Georgia,serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
body{
    position: relative;
}
p{margin-bottom: 1em;
    font-weight: 600;
    
}

.page{max-width: 29rem;padding: 2rem;margin: 0 auto;text-align: center;user-select: none;
}
#number{
    width: 5rem;
    text-align: center;
}
#canvas{
    left: 0;
    top: 0;
    position: absolute;
    float: left;
    border: 1px solid #000;
    display: none;
}
ul{list-style: none;
    display: flex;
    justify-content: center;
}
li{margin: 0 1rem;
}
a{color: #da1939fa;
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    &:hover{
        opacity: 0.7;
    }
}
h1{font:2rem/1 Georgia,serif;margin-bottom: 1em;
}
#imgList{
    margin-top: 1rem;
}
.fifteen{
    width: 100%;
    text-align: center;
    padding-bottom: 100%;
    margin-bottom: 1.5rem;
    position: relative;
    background-color: white;
    .item{
        position: absolute;
        color: #000;
        left: 0;
        top: 0; 
        width: 25%;
        height: 25%;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: pointer;
        box-shadow: inset 1px 1px black;
        transition: transform 0.4s;
        text-align: center;
        font-weight: 600;
        font-size: 1.6rem;
        &:hover{
           opacity: 0.6;
        } 

    }
}
.button{
    color: #fff;
    background: #000;
    border: none;
    font:1.2rem/1.4 Georgia,serif;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    &:hover{
        opacity: 0.7;
    }
}
@media (min-width: 1160px){
    #canvas{
        display: block;
    }
}
@media (min-width: 200px) and (max-width:1158px){
    body{overflow: auto;}
    
    h1,p{
        margin-bottom: 0.2rem;
    }
    .fifteen{
        .item{
            font-size: 1rem;
        }
    }
    .button{
        font-size: 1rem;
        margin-bottom: 0.5rem;
        padding: 0.3rem 1rem;
    }
    #canvas{
        display: none;
    }
}
